@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
}

.dashboard-content {
  grid-column: 2;
}

.sidebar {
  position: fixed;
  width: 260px;
  height: 100vh;
  background-color: #1e1e1e;
  z-index: 1000;
}

.logo {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu li {
  list-style: none;
}

.menu li a {
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  display: block;
}

.menu li a:hover {
  background-color: #fff;
  color: #1e1e1e;
}

.navbar {
  background-color: #f0f0f0;
  padding: 10px 20px;
  position: fixed;
}

.w-space-available {
  width: -webkit-fill-available;
}

.justify-content-right {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.user-avatar {
  background-color: rgb(170, 42, 170);
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.p-20 {
  padding: 20px;
}

.mr-15 {
  margin-left: 15px;
}

.content {
  padding: 15px 40px;
  margin-top: 55px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.table {
  width: max-content;
}
.table thead tr {
  text-align: left;
}

.table thead tr th,
td {
  padding: 10px 20px;
  border-top: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #02b689;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #029f7a;
}
